# Flutter /Dart
.dart_tool/
.packages
build/
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Android / IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Mac / System
.DS_Store

# Logs
*.log

# Misc
*.class

# Do not include pubspec lock for apps (optional)
pubspec.lock
